 {
    '__reactFiber$dwnruvvieo': <ref *2> FiberNode {
        tag: 5,
            key: null,
            elementType: 'input',
            type: 'input',
            stateNode: [Circular *1],
        return: FiberNode {
            tag: 1,
                key: null,
                elementType: [Function],
                type: [Function],
                stateNode: [Input],
            return: [FiberNode],
                child: [Circular *2],
                sibling: null,
                index: 1,
                ref: null,
                pendingProps: [Object],
                memoizedProps: [Object],
                updateQueue: [Object],
                memoizedState: null,
                dependencies: null,
                mode: 1,
                flags: 1048577,
                subtreeFlags: 0,
                deletions: null,
                lanes: 0,
                childLanes: 0,
                alternate: null,
                actualDuration: 0,
                actualStartTime: -1,
                selfBaseDuration: 0,
                treeBaseDuration: 0,
                _debugSource: null,
                _debugOwner: [FiberNode],
                _debugNeedsRemount: false,
                _debugHookTypes: null
        },
        child: null,
            sibling: null,
            index: 0,
            ref: null,
            pendingProps: {
            name: 'phone',
                onChange: [Function: onChange],
            defaultValue: 'example',
                type: 'text',
                className: 'form-control',
                'aria-invalid': undefined
        },
        memoizedProps: {
            name: 'phone',
                onChange: [Function: onChange],
            defaultValue: 'example',
                type: 'text',
                className: 'form-control',
                'aria-invalid': undefined
        },
        updateQueue: null,
            memoizedState: null,
            dependencies: null,
            mode: 1,
            flags: 0,
            subtreeFlags: 0,
            deletions: null,
            lanes: 0,
            childLanes: 0,
            alternate: null,
            actualDuration: 0,
            actualStartTime: -1,
            selfBaseDuration: 0,
            treeBaseDuration: 0,
            _debugSource: null,
            _debugOwner: FiberNode {
            tag: 1,
                key: null,
                elementType: [Function],
                type: [Function],
                stateNode: [Input],
            return: [FiberNode],
                child: [Circular *2],
                sibling: null,
                index: 1,
                ref: null,
                pendingProps: [Object],
                memoizedProps: [Object],
                updateQueue: [Object],
                memoizedState: null,
                dependencies: null,
                mode: 1,
                flags: 1048577,
                subtreeFlags: 0,
                deletions: null,
                lanes: 0,
                childLanes: 0,
                alternate: null,
                actualDuration: 0,
                actualStartTime: -1,
                selfBaseDuration: 0,
                treeBaseDuration: 0,
                _debugSource: null,
                _debugOwner: [FiberNode],
                _debugNeedsRemount: false,
                _debugHookTypes: null
        },
        _debugNeedsRemount: false,
            _debugHookTypes: null
    },
    '__reactProps$dwnruvvieo': {
        name: 'phone',
            onChange: [Function: onChange],
        defaultValue: 'example',
            type: 'text',
            className: 'form-control',
            'aria-invalid': undefined
    },
    _wrapperState: {
        initialChecked: undefined,
            initialValue: 'example',
            controlled: false
    },
    '__reactEvents$dwnruvvieo': Set(1) { 'invalid__bubble' },
    value: [Getter/Setter],
        _valueTracker: {
        getValue: [Function: getValue],
        setValue: [Function: setValue],
        stopTracking: [Function: stopTracking]
    },
    [Symbol(SameObject caches)]: [Object: null prototype] { childNodes: NodeList {} }
}
