<form class="" data-testid="new-student-form">
    <div class="mb-3">
    <label class="form-label" for="name">Name:</label>
        <input class="form-control" name="name" type="text" value="example" />
    </div>
    <div class="mb-3"><label class="form-label" for="email">Email:</label><input class="form-control" name="email" type="email" value="example" /></div><div class="mb-3"><label class="form-label" for="document">Document:</label><input class="form-control" name="document" type="text" value="example" /></div><div class="mb-3"><label class="form-label" for="phone">Phone:</label><input class="form-control" name="phone" type="text" value="example" /></div><button class="btn btn-secondary">Send</button></form>
